.multichain__text,
.multichain__input,
.multichain__select,
.multichain__button {
    font-family: SFRounded, ui-rounded, 'SF Pro Rounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 16px;
    font-weight: 700;
}

.multichain__input,
.multichain__select,
.multichain__button {
    background-color: var(--input-background);
    color: var(--input-text);
    border: 1px solid var(--input-border);
    box-sizing: border-box;
}

.multichain__button {
    background-color: var(--branding);
    border: none;
    cursor: pointer;
}

.multichain__button:disabled {
    background-color: var(--input-border);
    cursor: not-allowed;
}

.page {
    width: 600px;
    margin: 0 auto;
}

.multichain__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    box-sizing: border-box;
}

.multichain__row {
    display: flex;
    align-items: center;
    gap: 16px;
}

.multichain__column--full {
    flex: 1;
}

.multichain__column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.multichain__text {
    margin: 0;
}

.multichain__button--secondary {
    background-color: var(--input-border);
}
